@import './';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --el-color-primary: #34d399 !important;
    --el-color-primary-light-1: #065f46 !important;
    --el-color-primary-light-2: #047857 !important;
    --el-color-primary-light-3: #059669 !important;
    --el-color-primary-light-4: #10b981 !important;
    --el-color-primary-light-5: #34d399 !important;
    --el-color-primary-light-6: #6ee7b7 !important;
    --el-color-primary-light-7: #a7f3d0 !important;
    --el-color-primary-light-8: #d1fae5 !important;
    --el-color-primary-light-9: #ecfdf5 !important;
    --el-text-color-primary: text-slate-700;
}
